/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 1150px;
    height: 100vh;
    background-color: silver;
    margin: 0px auto;
    display: inline-block
}
#header{
    margin: 20px;
    min-height: 150px;
    background-color: green;
}
#navigation{
    margin: 20px;
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
}
#main_content{
    vertical-align: top;
    margin: 20px;
    min-height: 400px;
    width: 75%;
    background-color: red;
    display: inline-block;
}
.subcontents{
    margin: 20px;
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
}
#advertisement{
    margin: 20px;
    min-height: 120px;
    width: 660px;
    background-color: purple;
}
